# All pull requests need to be reviewed by any maintainer.
# Unless a later match is found, these two will be notified.
*                       @l-zeuch @LRitzdorf

# Base
/ftdetect/              @LRitzdorf
/ftplugin/              @LRitzdorf
/syntax/                @LRitzdorf
/autoload/              @l-zeuch
/plugin/                @l-zeuch

# Code completion
/lua/                   @l-zeuch

# Build and automation
/test/                  @LRitzdorf
/.github/workflows/     @l-zeuch
/Makefile               @l-zeuch
