# Automatically normalize line-endings
*               text=auto

# Generated Code
lua/*           linguist-generated=true
scripts/*.lua   linguist-generated=true

# Not exactly our code
.github/*.rb    linguist-vendored=true

# Detect vader test files as Vim script
*.vader         linguist-language=viml
